.page-not-found {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 50px 0;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &__title {
    font-size: 45px;
    line-height: 55px;
    margin-bottom: 20px;
  }

  &__description {
    margin-bottom: 15px;
  }

  &__link {
    color: black;
    padding: 10px;
    border: 3px solid gray;
    background-color: gray;
    transition: background-color 0.3s ease-out;
    border-radius: 10px;

    &-text {
      text-transform: uppercase;
    }

    &:hover {
      background-color: rgba(gray, 0.8);
    }
  }
}
